*{
    background-color: #0c0c0c;
    margin: 0px;
    padding: 0px;
    font-family: cursive;
    overflow:visible ;
}
ul{
    display: block;
    color: white;
    text-decoration: none;
    width: 14%;
    height: 100%;
    position: fixed;
    background-color: rgb(37, 37, 37);
    
}
#My_nav_img{
    height: 10rem;
    background: transparent;
}
li{
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(37, 37, 37);
}
#My_nav_img_li{
    background-color: #110d0d;
    display: flex;
    height: 9rem;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 12px;
}
.navigation a{
    background-color: transparent;
    color: rgb(218, 217, 207);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    padding: 10px;
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.navigation li a i {
    background-color: transparent;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
}

.navigation li a p {
    background-color: transparent;
}

.active{
    background-color: #000;
}
.home{
    display: inline;
}
.name #My_name{
    color: white;
    position: absolute;
    left: 34rem;
    white-space: nowrap;
    top: 2rem;
    border-right: .15rem solid white ;
    font-size: -webkit-xxx-large;
    overflow: hidden;
    width: 0;
    animation:
    typing 4s steps(19, end) forwards,
    blink .8s infinite;
}
.name #pro{
    color: whitesmoke;
    position: absolute;
    left: 40rem;
    top: 7rem;
    font-size: larger;
    font-style: oblique;
}

.About_c{
    color: white;
    font-size: 1.5rem;
    position: absolute;
    top: 60rem;
    left: 15rem;
    font-family: cursive;
}
.About_c h2{
    font-weight: 900;
    font-size: 2.65rem ;
    color: transparent;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-text-stroke: rgb(240, 227, 227) 2px;

}
.CONTACT{
    display: flex;
    position: absolute;
    top: 165rem;
    width: 100%;
}

.CONTACT h2{
    left: 15rem;
    font-weight: 900;
    font-size: 2.65rem ;
    color: transparent;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-text-stroke: rgb(240, 227, 227) 2px;
    position: absolute;
}

.CONTACT .line
{
    position: absolute;
    left: 15rem;
    top: 3rem;
}
.img_edu #img_edu_id{
    position: absolute;
    background-color: transparent;
    left: 40rem;
}

.line{
    background-color:  rgb(150, 150, 150);
    height: 0.01rem;
    width: 21.4rem;
    margin-top: 19px;
    margin-bottom: 26px
}
#wel_id_img{
    background-color: transparent;
    height: 34rem;
    position: relative;
    top:11rem;
    left: 30rem;
}
.info_about{
    font-size: 1.3rem;
    color: rgb(150, 150, 150);
}
.Edu_h3{
    margin-top: 2rem;
    margin-bottom : 1rem; 
}
.T_skills {
    color:rgb(150, 150, 150);
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    height: 1rem;
    font-family: cursive;
}
.T_skills li{
    display: inline;
    background-color: transparent;
    padding: 0.4rem;

}
.My_project{
    color:rgb(150, 150, 150);
    font-size: 1.5rem;
    position: absolute;
    top: 109rem;
    left: 15rem;
    font-family: cursive;
}
.My_project h2{
    font-weight: 900;
    font-size: 2.65rem ;
    color: transparent;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-text-stroke: rgb(240, 227, 227) 2px;
}
.My_project #role{
    padding-bottom: 0.8rem;
    padding-top: 0.5rem;

}
.My_project li{
    display: block;
    background-color: transparent;
    font-size: 1rem ;
    margin-top: 0.5rem;
    height: 100%;
}

.My_project #PP1{
    margin-top: 2rem; 
}
.My_project a{
    color: white;
    text-decoration: none;
}

.CONTACT .box{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 600px;
    background-color: rgb(37, 37, 37);
    border-radius: 1rem;
    position: absolute;
    top: 15rem;
    left: 28rem;
    padding: 5rem;
}
.CONTACT .box .inpt{
    height: 40px;
    color: black;
    background-color: white;
    border-radius: 0.3rem;
    margin-top: 2rem;
    font-size: 1rem; 
    padding-left: 10px;
}
.CONTACT p{
    position: absolute;
    left: 15rem;
    top: 3rem;
    background-color: transparent;
    color: white;
    font-size: 2rem ;

}

.CONTACT .Contact_opt{
    background-color: transparent;
    position: absolute;
    color: rgb(150, 150, 150);;
    top: 5rem;
    font-size: 1rem;
}
.CONTACT #phn{
    background-color: transparent;
    position: absolute;
    color: rgb(150, 150, 150);;
    top: 8rem;
    font-size: 1rem;
}
.CONTACT #email{
    background-color: transparent;
    position: absolute;
    color: rgb(150, 150, 150);;
    top: 11rem;
    font-size: 1rem;
}
.CONTACT .Contact_opt i{
    color: white;
    font-size: 2rem;
    margin-right: 2rem;
}
#wel_id_img:hover{
    height: 36rem;
    transition: ease 0.5s;
}
.navigation :hover{
   background-color: #000;
}

#My_nav_img:hover{
    height: 12rem;
    overflow: hidden;
    transition: ease 0.5s;
}

#My_nav_img_li:hover{
    background-color: black;
    height: 12rem;
    transition: ease 0.5s;
}
#img_edu_id:hover{
    height: 24rem;
    transition: ease 0.5s;
}

@keyframes typing {
    from{width: 0;}
    to {width: 37%;}
}
@keyframes blink {
    from { border-color: transparent }
    to { border-color: white; }
  }